@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

button {
    cursor: pointer;
}

@font-face {
    font-family: "Minecraftia";
    src: local("Minecraftia"),
        local("Minecraftia-Regular"),
        url("/Minecraftia-Regular.ttf") format("truetype");
}

.cctemplate {
    background: no-repeat url("/template.png");
    background-size: contain;
    font-family: "Minecraftia";
    color: #fff;
    height: 450px;
    width: 800px;
    position: fixed;
    right: 6px;
    bottom: 0px;
    overflow: hidden;
    zoom: 70%;
}

.cctemplate > .dialogue {
    position: absolute;
    top: 50%;
    left: 20%;
}

.cctemplate > .emotion {
    position: absolute;
    top: 19%;
    right: 18.5%;
    height: 128px;
    width: 128px;
}

.cctemplate > .sprite {
    position: absolute;
}